.fadeInOut {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
}

.fadeInOutEnter {
  opacity: 0;
}

.fadeInOutEnterActive {
  opacity: 1;
}

.fadeInOutExit {
  opacity: 1;
}

.fadeInOutExitActive {
  opacity: 0;
}
